@import "App.scss";

$checkbox-label-offset: 1.2rem;

.checkbox-outer button {
    background: none;
    border: 1px solid $app-grey-color;
    border-radius: 8px;
    color: $app-grey-color;
    /*margin: 0 20px;*/
    padding: 10px 15px;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
}

.checkbox-outer button.checked {
    border-color: transparent;
    background-color: $app-green-color;
}

.checkbox-outer button.checked .checkbox-button-label {
    /*display: inline-block;*/
    color: white;
    font-weight: 600;
}

.checkbox-outer button .checkbox-button-label::after {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


.checkbox-outer .checkbox {
    display: flex;

    img {
        width: 18px;
        height: 18px;
    }
}

.checkbox-outer .checkbox .checkbox-label {
    margin-left: $checkbox-label-offset;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
}

.checkbox-outer .checkbox .checkbox-label::after {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.checkbox-outer .checkbox .checkbox-label.checked {
    font-weight: 600;
}

.checkbox-label-grey-font {
    color: $app-grey-color;
}

.checkbox-label-green-font {
    color: $app-green-color;
}
