.canvas {
    --canvas-border-radius: .6rem;
    --progress-border-radius: .4rem;
}

.canvas {
    width: 100%;
    background-color: #f4f3f4;
    border-radius: var(--canvas-border-radius);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    box-sizing: border-box;
}

.progress {
    height: 40px;
    border-top-left-radius: var(--progress-border-radius);
    border-bottom-left-radius: var(--progress-border-radius);
    transition: all 1s;
}

.tail-wrap {
    height: 40px;
    flex: 1;
    position: relative;
}

.tail {
    height: 56px;
    width: 2px;
    position: absolute;
    left: 0;
    top: -8px;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.08);
}