#root {
  height: 100%;
}

.App {
  height: 100%;
  /*text-align: center;*/
}

/* Common App variables */
$app-offset: 32px;
$app-bg-color: #f8fafd;
$app-sidebar-color: #f2f5fa;
$app-header-color: #fff;

$app-green-color: #6ce349;
$app-grey-color: #bdbdbd;

$app-base-font: 16px;
$app-base-font-value: 16;
